<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body class="table-responsive">

    <header>
        <nav class="navbar navbar-light" style="background-image: linear-gradient(#B5EAEA,#B5EAEA);">
            <a href="/">
                <i class="bi bi-music-player-fill" style="font-size: 3rem;color: black;"></i></a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/education"
                        style="font-size: 23px;color: black;font-weight:bold;">EDUCATION</a>
                    <a class="nav-item nav-link" href="/projects"
                        style="font-size: 23px;color: black;font-weight:bold;">SKILLS &
                        PROJECTS</a>
                    <a class="nav-item nav-link" href="/accomplishments"
                        style="font-size: 23px;color: black;font-weight:bold;">
                        ACCOMPLISHMENTS</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="py-5 text-center container table-responsive-sm">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="font-weight-bold" style="font-size:55px;">AJAY <div style="color:#1DB9C3;display: inline;">
                        RAMESH
                    </div>
                </h1>
                <p class="lead text" style="color: black;font-weight: bold;font-size: 28px;">Focus on the Process</p>
                <hr>
                <div>
                    <a href="https://www.linkedin.com/in/ajay2304/"><i class="bi bi-linkedin"
                            style="font-size: 2rem;color:black;"></i></a>
                    <a href="https://github.com/Ajay2304"><i class="bi bi-github"
                            style="font-size: 2rem;color: black;"></i></a>
                </div>
                <hr>
            </div>
        </div>
        <center>
            <h3 style="font-size: 25px;font-weight: bold;"> Web Development || AI ||
                Photography</h3>
            <h4>Click Here to View My Resume</h4>
            <a href="https://github.com/Ajay2304/Single_Page_Resume/blob/main/Ajay_Single_Page_Resume.pdf"><button
                    type="button" class="btn btn-info">RESUME</button></a>
            <br>
        </center>

    </section>


</body>

</html>